/* YOUR CUSTOM STYLES */

span.alert {
    color: red;
    font-size: 13px;
}

input.alert {
    border-bottom: 1px solid red;
    box-shadow: 0 1px 0 0 red;
}

.holder {
    background-color: #fff;
}

.table h4 {
    font-weight: 700;
    text-transform: uppercase
}