<!--Jumbotron-->
<div class="jumbotron">
    <h1 class="h1-responsive">Instructor List!</h1>
    <p class="lead">Text text text</p>
    <hr class="my-2">

    <p class="lead">
        <a ui-sref="instructorAdd" class="btn btn-primary btn-lg" role="button"><i class="fa fa-plus"></i> Add New Instructor</a>
    </p>
</div>
<!--/.Jumbotron-->

<div class="md-form">
    <i class="fa fa-search prefix"></i>
    <input type="text" id="searchInstructor" name="searchInstructor" class="form-control" ng-model="search">
    <label for="searchInstructor">Type instructor name</label>
</div>

<table class="table table-responsive">
    <thead>
        <tr class=" text-center">
            <td>
                <h4>Instructor</h4>
            </td>
            <td>
                <h4>Actions</h4>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="instructor in instructors | filter:search">
            <td>{{instructor.firstname}} {{instructor.lastname}}</td>
            <td>
                <a class="btn btn-primary" ui-sref="instructorView({instId:instructor.id})"><i class="fa fa-eye"></i> View</a>
                <a class="btn btn-danger" ng-click="deleteInstructor(instructor.id)"><i class="fa fa-times"></i> Delete</a>
            </td>
        </tr>
    </tbody>

</table>