<div class="card">
    <div class="card-block">
        <form id="addStudentForm" name="addStudentForm" ng-validate="addStudentConfigs" novalidate>
            <!--Body-->
            <div class="md-form">
                <i class="fa fa-user prefix"></i>
                <input type="text" id="firstname" name="firstname" class="form-control" ng-model="addStudentData.firstname">
                <label for="firstname">First Name</label>
            </div>

            <div class="md-form">
                <i class="fa fa-user prefix"></i>
                <input type="text" id="midname" name="midname" class="form-control" ng-model="addStudentData.middlename">
                <label for="midname">Middle Name</label>
            </div>

            <div class="md-form">
                <i class="fa fa-user prefix"></i>
                <input type="text" id="lastname" name="lastname" class="form-control" ng-model="addStudentData.lastname">
                <label for="lastname">Last Name</label>
            </div>

            <div class="md-form">
                <i class="fa fa-user prefix"></i>
                <input type="text" id="address" name="address" class="form-control" ng-model="addStudentData.address">
                <label for="address">Address</label>
            </div>

            <div class="md-form">
                <i class="fa fa-user prefix"></i>
                <input type="text" id="birthdate" name="birthdate" class="form-control" ng-model="addStudentData.birthdate">
                <label for="birthdate">Birthday</label>
            </div>

            <div class="md-form">
                <i class="fa fa-user prefix"></i>
                <input type="text" id="natId" name="natId" class="form-control" ng-model="addStudentData.nationalId">
                <label for="natId">National Id</label>
            </div>

            <div class="md-form">
                <i class="fa fa-mobile prefix"></i>
                <input type="text" id="mobno" name="mobno" class="form-control" ng-model="addStudentData.mobileNo">
                <label for="mobno">Mobile number</label>
            </div>

            <div class="md-form">
                <i class="fa fa-envelope prefix"></i>
                <input type="text" id="email" name="email" class="form-control" ng-model="addStudentData.email">
                <label for="email">Email</label>
            </div>

            <div class="text-center">
                <button class="btn btn-deep-purple btn-block" ng-click="addStudent(addStudentForm)" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>