<table class="table">
    <tr>
        <td>
            <h3>Details for {{instructor.firstname}}</h3>
        </td>
        <td></td>
    </tr>
    <tr>
        <td>Instructor Full Name</td>
        <td>{{instructor.firstname}} {{instructor.lastname}} {{instructor.lastname}}</td>
    </tr>
    <tr>
        <td>Address</td>
        <td>{{instructor.address}}</td>
    </tr>
    <tr>
        <td>Instructor Birth Date</td>
        <td>{{instructor.birthdate}}</td>
    </tr>
    <tr>
        <td>Instructor National Id</td>
        <td>{{instructor.nationalId}}</td>
    </tr>
    <tr>
        <td>Instructor Mobile Number</td>
        <td>{{instructor.mobileNo}}</td>
    </tr>
    <tr>
        <td>Instructor Email</td>
        <td>{{instructor.email}}</td>
    </tr>
    <tr>
        <td>Instructor bio</td>
        <td>{{instructor.bio}}</td>
    </tr>
</table>


<div>
    <a class="btn btn-primary" ui-sref="instructorEdit({instId:instructor.id})"><i class="fa fa-pencil"></i> Edit</a>
</div>