<!--Jumbotron-->
<div class="jumbotron">
    <h1 class="h1-responsive">Courses List!</h1>
    <p class="lead">Text text text</p>
    <hr class="my-2">

    <p class="lead">
        <a ui-sref="courseAdd" class="btn btn-primary btn-lg" role="button"><i class="fa fa-plus"></i> Add New Course</a>
    </p>
</div>
<!--/.Jumbotron-->

<div class="md-form">
    <i class="fa fa-search prefix"></i>
    <input type="text" id="searchCourse" name="searchCourse" class="form-control" ng-model="search">
    <label for="searchStudent">Type course name</label>
</div>
<table class="table movietable table-responsive">
    <thead>
        <tr class=" text-center">
            <td>
                <h4>course</h4>
            </td>
            <td>
                <h4>Actions</h4>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="course in courses | filter:search">
            <td>{{course.name}}</td>
            <td>
                <a class="btn btn-primary" ui-sref="courseView({couId:course.id})"><i class="fa fa-eye"></i> View</a>
                <a class="btn btn-danger" ng-click="deleteCourse(course.id)"><i class="fa fa-times"></i> Delete</a>
            </td>
        </tr>
    </tbody>
</table>