<table class="table movietable">
    <tr>
        <td>
            <h3>Details for {{course.name}}</h3>
        </td>
        <td></td>
    </tr>
    <tr>
        <td>Course Name</td>
        <td>{{course.name}}</td>
    </tr>
    <tr>
        <td>Course Instructor</td>
        <td>{{course.instructor}}</td>
    </tr>
    <tr>
        <td>Course Period</td>
        <td>{{course.weeksNumber}}</td>
    </tr>
</table>
<div>
    <a class="btn btn-primary" ui-sref="courseEdit({couId:course.id})"><i class="fa fa-pencil"></i> Edit</a>
</div>