<div class="card">
    <div class="card-block">
        <form id="addCourseForm" name="addCourseForm" ng-validate="addCourseConfigs" novalidate>

            <div class="md-form">
                <i class="fa fa-user prefix"></i>
                <input type="text" id="couName" name="couName" class="form-control" ng-model="editCourseData.name">
                <label for="couName">Course Name</label>
            </div>

            <div class="md-form">
                <i class="fa fa-user prefix"></i>
                <input type="text" id="couInst" name="couInst" class="form-control" ng-model="editCourseData.instructor">
                <label for="couInst">Course Instructor</label>
            </div>

            <div class="md-form">
                <i class="fa fa-user prefix"></i>
                <input type="number" id="couWeeksno" name="couWeeksno" class="form-control" ng-model="editCourseData.weeksNumber">
                <label for="couWeeksno">Number of weeks</label>
            </div>

            <div class="text-center">
                <button class="btn btn-deep-purple btn-block" ng-click="addCourse(addCourseForm)" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>