<div class="card">
    <div class="card-block">
        <form id="addInstructorForm" name="addInstructorForm" ng-validate="addInstructorConfigs" novalidate>
            <!--Body-->
            <div class="md-form">
                <i class="fa fa-user prefix"></i>
                <input type="text" id="firstname" name="firstname" class="form-control" ng-model="addInstructorData.firstname">
                <label for="firstname">First Name</label>
            </div>

            <div class="md-form">
                <i class="fa fa-user prefix"></i>
                <input type="text" id="midname" name="midname" class="form-control" ng-model="addInstructorData.middlename">
                <label for="midname">Middle Name</label>
            </div>

            <div class="md-form">
                <i class="fa fa-user prefix"></i>
                <input type="text" id="lastname" name="lastname" class="form-control" ng-model="addInstructorData.lastname">
                <label for="lastname">Last Name</label>
            </div>

            <div class="md-form">
                <i class="fa fa-user prefix"></i>
                <input type="text" id="address" name="address" class="form-control" ng-model="addInstructorData.address">
                <label for="address">Address</label>
            </div>

            <div class="md-form">
                <i class="fa fa-user prefix"></i>
                <input type="text" id="birthdate" name="birthdate" class="form-control" ng-model="addInstructorData.birthdate">
                <label for="birthdate">Birthday</label>
            </div>

            <div class="md-form">
                <i class="fa fa-user prefix"></i>
                <input type="text" id="natId" name="natId" class="form-control" ng-model="addInstructorData.nationalId">
                <label for="natId">National Id</label>
            </div>

            <div class="md-form">
                <i class="fa fa-mobile prefix"></i>
                <input type="text" id="mobno" name="mobno" class="form-control" ng-model="addInstructorData.mobileNo">
                <label for="mobno">Mobile number</label>
            </div>

            <div class="md-form">
                <i class="fa fa-envelope prefix"></i>
                <input type="text" id="email" name="email" class="form-control" ng-model="addInstructorData.email">
                <label for="email">Email</label>
            </div>

            <div class="md-form">
                <i class="fa fa-pencil prefix"></i>
                <textarea type="text" id="bio" name="bio" class="md-textarea" ng-model="addInstructorData.bio"></textarea>
                <label for="bio">Bio</label>
            </div>

            <div class="text-center">
                <button class="btn btn-deep-purple btn-block" ng-click="addInstructor(addInstructorForm)" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>