<table class="table">
    <tr>
        <td>
            <h3>Details for {{student.firstname}}</h3>
        </td>
        <td></td>
    </tr>
    <tr>
        <td>Student Full Name</td>
        <td>{{student.firstname}} {{student.lastname}} {{student.lastname}}</td>
    </tr>
    <tr>
        <td>Address</td>
        <td>{{student.address}}</td>
    </tr>
    <tr>
        <td>Student Birth Date</td>
        <td>{{student.birthdate}}</td>
    </tr>
    <tr>
        <td>Student National Id</td>
        <td>{{student.nationalId}}</td>
    </tr>
    <tr>
        <td>Student Mobile Number</td>
        <td>{{student.mobileNo}}</td>
    </tr>
    <tr>
        <td>Student Email</td>
        <td>{{student.email}}</td>
    </tr>
</table>
<div>
    <a class="btn btn-primary" ui-sref="studentEdit({stuId:student.id})"><i class="fa fa-pencil"></i> Edit</a>
</div>