<!--Jumbotron-->
<div class="jumbotron">
    <h1 class="h1-responsive">Student List!</h1>
    <p class="lead">Text text text</p>
    <hr class="my-2">

    <p class="lead">
        <a ui-sref="studentAdd" class="btn btn-primary btn-lg" role="button"><i class="fa fa-plus"></i> Add New Student</a>
    </p>
</div>
<!--/.Jumbotron-->

<div class="md-form">
    <i class="fa fa-search prefix"></i>
    <input type="text" id="searchStudent" name="searchStudent" class="form-control" ng-model="search">
    <label for="searchStudent">Type student name</label>
</div>

<table class="table table-responsive">
    <thead>
        <tr class=" text-center">
            <td>
                <h4>Student</h4>
            </td>
            <td>
                <h4>Actions</h4>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="student in students | filter:search">
            <td>{{student.firstname}} {{student.lastname}}</td>
            <td>
                <a class="btn btn-primary" ui-sref="studentView({stuId:student.id})"><i class="fa fa-eye"></i> View</a>
                <a class="btn btn-danger" ng-click="deleteStudent(student.id)"><i class="fa fa-times"></i> Delete</a>
            </td>
        </tr>
    </tbody>

</table>